* {
    margin: 0;
    padding: 0;
}


/*-----------Banner section----------*/

.banner {
    height: 80vh;
    background-image: url(https://baroque.pk/cdn/shop/files/MAin_BAnner42.jpg?v=1714206691&width=1400);
    background-size: cover;
   
    color: #fff;
    margin-bottom: 20px;
}

.btn42-44 {
    text-decoration: none;
    padding: 10px 25px;
    background: rgb(0, 0, 0);
    outline: none !important;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
}

.btn-42 {
    border: 2px solid rgb(0, 0, 0);
    z-index: 1;
    color: rgb(255, 255, 255);
}

.btn-42:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    direction: rtl;
    z-index: -1;
    background-color: rgb(255, 255, 255);
    transition: all 0.3s ease;
}

.btn-42:hover {
    color: rgb(0, 0, 0);

}

.btn-42:hover:after {
    left: auto;
    right: 0;
    width: 100%;
}

.btn-42:active {
    top: 2px;
}

/*-----------image section------------*/
#images-bar {
    margin: 50px 20px;
    padding: 50px 20px;
    background-color: rgb(255, 255, 255);
}

.button2 {
    margin-top: -120px;
    padding-bottom: 10px;
}

.button2 p {
    font-size: 25px;
    font-weight: 700;
    color: #fff;
    position: relative;
    z-index: 2;
}

.img-container {
    border: 1px solid rgb(255, 255, 255);
    overflow: hidden;
    margin-bottom: 10px;
}

.zoom {
    transition: transform 5s ease;

}

.img-container:hover .zoom {
    transform: scale(1.1, 1.1);
    cursor: pointer;
}

.btn41-43 {
    text-decoration: none;
    padding: 10px 25px;
    background: rgba(255, 249, 249, 0);
    outline: none !important;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
}

.btn-41 {
    border: 2px solid rgb(255, 255, 255);
    z-index: 1;
    color: rgb(255, 255, 255);
}

.btn-41:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    direction: rtl;
    z-index: -1;
    background-color: rgb(255, 255, 255);
    transition: all 0.3s ease;
}

.btn-41:hover {
    color: rgb(0, 0, 0);


}

.btn-41:hover:after {
    left: auto;
    right: 0;
    width: 100%;
}

.btn-41:active {
    top: 2px;
}

/*--------text banner--------*/
.text-banner {
    padding: 30px 0;
    background-color: rgb(255, 255, 255);
}

.text-box a {
    text-decoration: none;
    border-bottom: 1px solid black;
    color: black;
    letter-spacing: 5px;
    font-weight: 400;
}


/*------------dual image section--------------*/
#dual-img {
    padding: 100px 0;
}

#dual-img h1 {
    padding-bottom: 50px;
    font-weight: 300;
    letter-spacing: 5px;
}

#dual-img h1::before {
    content: '';
    background: #000000;
    height: 3px;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transform: translateY(50px);
}

.img-box5 {
    padding-top: 100px;

}

.title {
    padding-top: 10px;
}



.right-image{
   margin-left: 10rem;
}
/*--------------triple img section---------------------*/
#triple-img {
    padding: 70px 0;
  }
  
  #triple-img p {
    font-size: 30px;
    font-weight: 300;
    letter-spacing: 10px;
    padding-bottom: 50px;
  }
  /*---------email banner-------------*/
#email-banner {
    padding: 70px 0;
  }
  
  .email {
    padding: 30px 40px;
  }
  
  #email-banner p {
    font-size: 20px;
    font-weight: 300;
  
  
  }
  
  #email-banner input {
  
    padding-right: 4px;
    width: 500px;
    height: 55px;
    padding-bottom: 4px;
    font-size: 20px;
  }
  
  .menu9 {
    display: inline;
  }